window {
margin: 0px;
border: 1px solid --wofi-color0;
background-color: ;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: --wofi-color0;
}

#inner-box {
margin: 5px;
border: none;
background-color: --wofi-color0;
}

#outer-box {
margin: 5px;
border: none;
background-color: --wofi-color1;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: --wofi-color1;
} 

#entry:selected {
background-color: --wofi-color0;
}
